
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

body{
    overflow-x:hidden;
    background-color: rgb(46, 46, 54);
    background-size: cover;
    background-attachment: fixed;
}

/* .section{
    width: 100vw;
    height: 100vh;
}

.section:nth-child(1){background-color: rgb(46, 46, 54);}
.section:nth-child(2){background-color: rgb(52, 52, 60);}
.section:nth-child(3){background-color: rgb(46, 46, 54);}
.section:nth-child(4){background-color: rgb(52, 52, 60);} */

/* <-----------------------Header-----------------------> */

.header_horizontalLine1{
    width: 100%;
    height: 140%;
    background-color: rgb(52, 52, 60);
    position: absolute;
    top: 715px;
    z-index: -10;
}

.header_horizontalLine2{
    width: 100%;
    height: 150%;
    background-color: rgb(52, 52, 60);
    position: absolute;
    top: 2100px;
    z-index: -10;
}

.header{
    position: relative;
    top: 40px;
}

.header_block1, .navigation ul, .media, .navMenu{
    display: flex;
    flex-direction: row;
}

.header_block1{
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.header_block1.active{
    background-color: rgb(31, 28, 28);
    top: 0;
    transition: .5s;
}

.header_block2{
    padding-top: 100px;
}

/* <-------------------Logo--------------------> */

.logo{
    position: relative;
    left: -80px;
}

.logo .span_Z{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Vesper Libre', serif;
    color: white;
}

.logo .span_N{
    font-size: 31px;
    font-weight: 600;
    /* font-family: 'Bangers', cursive;
    font-family: 'Noto Serif', serif; */
    font-family: 'Vesper Libre', serif;
    color: white;
}

.logo .span_point{
    font-size: 55px;
    color: rgb(241, 2, 249);
}

/* <-------------------Nav--------------------> */

.navMenu{
    position: relative;
    left: 100px;
}

.menu__home div{
    padding-left: 15px;
    padding-right: 15px;
}

.menu__home div a{
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(254, 231, 253);
}

.menu__home div a:hover{
    color: rgb(255, 255, 255);
}

.menu__home div a::after{
    content: '';
    display: flex;
    width: 0%;
    height: 3px;
    background-color: rgb(255, 0, 111);
    transition: .4s;
    margin: auto;
}

.menu__home div a:hover::after{
    width: 100%;
}

/* <-------------------Vertical--------------------> */

.verticalDiv{
    width: 1.5px;
    height: 30px;
    background-color: rgb(152, 150, 150);
    margin-top: -2.5px;
    margin-right: 10px;
}

/* <-------------------Media--------------------> */

.media form button{
    background-color: transparent;
    color: white;
    transform: scale(1.5);
    margin-left: 5px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

/* <-----------------------Block_2-----------------------> */

.header_block2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 120px;
}

/* <--------------------column_1--------------------> */

.header_column1, .header_column2{
    display: flex;
    flex-direction: column;
}

.header_title1{
    font-size: 65px;
    font-weight: 900;
    font-family: 'Vesper Libre';
    line-height: 65px;
    color: rgb(228, 218, 225);
}

.header_line1{
    margin-top: 3px;
    width: 250px;
    height: 2px;
    background-color: rgb(254, 48, 202);
}

.header_subTitle1{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Vesper Libre';
    line-height: 25px;
    color: rgb(228, 218, 225);
    text-shadow: 1px 3px 4px;
}

.contactBtn{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border: 3px rgb(254, 48, 202) solid;
    background-color: transparent;
    top: 40px;
    transition: .3s;
    overflow: hidden;
}

.contactBtn:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

/* <--------------------column_2--------------------> */

.header_introduction{
    font-size: 22px;
    color: rgb(245, 53, 155);
    font-family: 'Noto Serif', serif;
}

.header_title2{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(228, 218, 225);
}

.header_subTitle2{
    margin-top: 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height: 27px;
}

.header_seeMoreBtn{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.header_seeMoreBtn a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(253, 223, 242);
    transition: .3s;
}

.header_seeMoreBtn a:hover{
    transform: scale(1.1);
}

/* <--------------------header_img--------------------> */

.header_img img{
    position: absolute;
    top: -27.5px;
    right: 38%;
    width: 400px;
    height: auto;
}

.header_circle{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(36, 36, 44);
    left:29px;
}

@media (max-width: 1250px) {
    .header_img{
        display: none;
    }

    .header_horizontalLine1{
        top: 650px;
    }

    .logo{
        left: 35px;
    }
}

@media (min-width: 1250px) {
    .navMenu{
        left: 300px;
    }
}

@media (max-width: 1150px) {
    .navMenu{
        left: 0;
    }
    
    .logo{
        left: 0;
    }
}

@media (max-width: 800px) {
    .header_block2{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_column2{
        position: relative;
        top: 100px;
    }

    .header_horizontalLine1{
        top: 905px;
    }

    .header_title1{
        font-size: 85px;
        font-weight: 900;
        font-family: 'Vesper Libre';
        text-align: center;
        line-height: 65px;
        color: rgb(228, 218, 225);
    }
    
    .header_line1{
        width: 350px;
    }
    
    .header_subTitle1{
        font-size: 25px;
        text-align: center;
    }

    .contactBtn{
        left: 90px;
    }

    .header_introduction{
        font-size: 30px;
        text-align: center;
    }
    
    .header_title2{
        font-size: 30px;
        text-align: center;
    }
    
    .header_subTitle2{
        font-size: 18px;
        text-align: center;
    }
    
    .header_seeMoreBtn{
        position: relative;
        left: 135px;
    }
}

@media (max-width: 650px) {

    .header{
        top: 10px;
    }

    .verticalDiv{
        position: relative;
        left: -85px;
    }
    
    .media form button{
        position: relative;
        left: -85px;
    }

    .logo{
        left: 0px;
    }
    
    /* ---------------------burger--------------------- */

    .menu__burger{
        width: 50px;
        height: 50px;
        z-index: 100;
        border: 3px solid rgb(156, 7, 69);
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;
        right: 10px;
        top: 15px;
    }

    .menu__burger-lines{
        height: 2px;
        width: 30px;
        background-color: white;
        position: relative;
        z-index: -1;
    }

    .menu__burger-lines::after, 
    .menu__burger-lines::before{
        content: '';
        position: absolute;
        background-color: white;
        height: 2px;
        width: 30px;
        left: 0;
        transition: .1s;
    }

    .menu__burger-lines::after{
        left: 0;
        top: -8px;
    }

    .menu__burger-lines::before{
        left: 0;
        top: 8px;
    }

    .navigation .menu__home{
        list-style: none;
        position: absolute;
        width: 55vw;
        height: 105vh;
        left: 1000%;
        top: -70px;
        background-color: rgb(31, 30, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        flex-direction: column;
        transition: .3s;
    }
    
    .navigation .menu__home.active{
        left: 0;
    }
    
    .navigation .menu__home a{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }

    /* ---------------------burger_close--------------------- */

    .menu__burger-lines.active::after{
        rotate: 45deg;
        top: 0;
    }

    .menu__burger-lines.active::before{
        rotate: -45deg;
        top: 0;
    }

    .menu__burger-lines.active{
        background-color: transparent;
    }

}
