
.middle1{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 350px;
    justify-content: space-between;
}

.middle1_about{
    display: flex;
    flex-direction: column;
}

.middle1_title{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Vesper Libre', serif;
    color: rgb(254, 231, 253);
    font-family: 'Bangers';
    letter-spacing: 10px;
    text-shadow: 2px 3px 4px rgb(255, 0, 115);
    transform: scale(1.2);
    position: relative;
    left: 90px;
}

.middle1_subTitle::first-letter{
    font-size: 45px;
    color: rgb(255, 5, 134);
}

.middle1_subTitle{
    float: left;
    font-size: 20px;
    color: rgb(254, 231, 253);
    font-family: 'Noto Serif';
    margin-top: 20px;
    width: 65%;
}

.middle1_img{
    width: 1800px;
    position: relative;
    top: -100px;
    left: -30px;
}

.middle1_Boxes{
    position: relative;
    justify-content: left;
    display: flex;
    top: 75px;
}

.middle1_Box1, .middle1_Box2, .middle1_Box3{
    width: 150px;
    height: 150px;
    border: solid rgb(255, 1, 111) 4px;
    font-size: 22px;
    font-weight: 600;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.middle1_Boxes div p span{
    position: relative;
    top: -10px;
}

.middle1_Box1{
    margin-left: 0;
}

.middle1_column2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left: 150px;
}

@media (max-width: 1350px) {
    .header_horizontalLine2{
        top: 2400px;
        height: 150%;
    }

    .middle1_column2{
        left: 100px;
    }
}

@media (max-width: 1250px) {
    .middle1{
        top: 450px;
    }

    .header_horizontalLine1{
        height: 190%;
        top: 650px;
    }

    .header_horizontalLine2{
        top: 2400px;
        height: 220%;
    }

    .middle1_img{
        width: 2000px;
    }

    .middle1_column2{
        left: 0;
        top: -50px;
    }

    .middle1_subTitle{
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .middle1_img{
        display: none;
    }

    .middle1_subTitle{
        width: 60%;
    }

    .middle1_about, .middle1_Boxes{
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .middle1_Boxes div{
        margin-left: 25px;
        margin-right: 25px;
    }

    .middle1_title{
        left: 0px;
    }

    .header_horizontalLine1{
        height: 170%;
        top: 650px;
    }

    .header_horizontalLine2{
        top: 2250px;
        height: 200%;
    }
}

@media (max-width: 800px) {
    .header_horizontalLine1{
        height: 105%;
        top: 925px;
    }
}

@media (max-width: 650px) {
    .header_horizontalLine1{
        height: 100%;
        top: 925px;
    }

    .middle1_Boxes div{
        margin-left: 5px;
        margin-right: 5px;
    }

    .middle1_subTitle{
        width: 85%;
    }
}

@media (max-width: 550px) {
    .middle1_Box1, .middle1_Box2, .middle1_Box3{
        width: 120px;
        height: 120px;
        font-size: 18px;
    }
}

@media (max-width: 470px) {
    .header_horizontalLine1{
        height: 105%;
        top: 925px;
    }
}
